.jumbotron {
  padding-top: 6rem;
  background-image: url(img/bc.jpeg);
  background-color: #e2edff;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

#about hr {
  width: 250px;
  border-top: 3px solid #000000;
  margin: auto;
}

#projects hr {
  width: 50%;
  border-top: 3px solid #000;
  margin: auto;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}
